[Unit]
Description=runs the webterminal app

Wants=network.target
After=syslog.target network-online.target

[Service]
Type=simple
ExecStart=python3 /opt/webterminal.py
Restart=on-failure
RestartSec=10
KillMode=process

[Install]
WantedBy=graphical.target
